<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

                <main>
                    <div><h1>Login</h1>

                        <form method="POST" enctype="multipart/form-data">
  
                            {% csrf_token %}
                          
                            {{ form.as_p }}

            
                

                            {% comment %} <label for="username"><b>Username</b></label>
                            <input type="text" name="Username" required>
                            
                            <label for="password"><b>Password</b></label>
                            <input type="password" name="password" required> {% endcomment %}

                            <button type="submit">Login</button>
                        </form>
                    </div>
                </main>
    
</body>
</html>