<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div> <h1> Signup </h1>
            <form method="POST" enctype="multipart/form-data">
  
                {% csrf_token %}
              
                {{ form.as_p }}

                {% comment %} <input type="text" name="Username" required>
                <input type="password" name="password1" required>
                <input type="password" name="password2" required> {% endcomment %}
                <button type="submit">Signup</button>



    
</body>
</html>